
#maindiv{
    border: 1px solid transparent;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-gap: 25px;
    text-align: center;
}

#main {
    border: 1px solid black;
    width: 200px;
    height: 200px;
    margin: auto;
    box-shadow: rgba(27, 25, 25, 0.35) 0px 5px 15px;
    border-radius: 5px;
    background-color: #caa773;
    color: #5976b3;
}

#position1{
    width: 100px;
    height: 80px;
    margin-top: 3px;
}

#details{
    background-color: #446494;
    border: none;
   

}

